<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>com.apple.applescript.text</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Description</key>
	<string>AppleScript-Cocoa Class File</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.applescript</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of AppleScript-Cocoa class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>className</string>
			<key>Name</key>
			<string>Cocoa Class</string>
			<key>Description</key>
			<string>The super class of class file</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>NSObject</string>
			<key>Values</key>
			<array>
				<string>NSObject</string>
				<string>NSView</string>
				<string>NSViewController</string>
				<string>NSWindowController</string>
			</array>
		</dict>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Whether to create a XIB file with the same name</string>
			<key>Identifier</key>
			<string>XIB</string>
			<key>Name</key>
			<string>Also create XIB file for user interface</string>
			<key>NotPersisted</key>
			<true/>
			<key>RequiredOptions</key>
			<dict>
				<key>className</key>
				<array>
					<string>NSViewController</string>
					<string>NSWindowController</string>
				</array>
			</dict>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
	<key>Summary</key>
	<string>AppleScript-Cocoa Class File</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
</dict>
</plist>
